@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Archivo', sans-serif;
  --font-serif: 'Besley', serif;
  --font-apple: 'Homemade Apple', cursive;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
